<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# Project Scripting Phase Report Submission
> _by Prannaya Gupta (M23604)_

### Submission Instructions

<div class="alert alert-block alert-info">

* You will need to submit the following files in your final project submission:
    * Your Jupyter Notebook report. Name the report `ProjectScriptingReport<YourName>.ipynb`.
    * All relevant image files to be displayed in this report (make sure you use relative file referencing and the image will display in another computer).
    * Attached each file one by one and upload on Coursemology.
* Please print a copy of the final report to OneNote Individual Notebook space > Project. Double check on the image resolution. If the resolution is poor, please copy and paste the ORIGINAL clear image into the OneNote page (paste at the side of the printed image).

* Any submission that fails to comply to the above instructions will result in upto 5% penalty.

* You may wish to refer to the following reference to help organize and "beautify" your final report here. <br>
https://thecodingbot.com/markdown-in-jupyter-ipython-notebook-cheatsheet/
</div>

### Section A: Overview & Business Rules

### Overview

<div class="alert alert-block alert-warning">
You may copy and paste the overview submitted in previous phase. Edits, if any, should be highlighted.
</div>

The Research, Innovation and Enterprise (RIE) Department of NUS High School is a core pillar for the continued development of students in our school. With the Advanced Research Project (ARP) being a major component of our diploma, the RIE department has the immense responsibility to administrate various projects from various students. This especially important given the fact that the school gives students autonomy to participate in multiple projects with mentors from various research institutions under different time periods. However, recent years have shown that there are certain cracks forming in the database system employed by the RIE, which is incredibly problematic in administrating continuation projects, receiving project details and more.

I believe that our RIE department will benefit from a RDBMS system to manage projects so that they have consistency in Project Details, allowing easier methods to search and sift through projects done by specific students, submit and receive Project Reports, Posters and ISEF/SSEF Forms, and help people get to know more about research done by Seniors and Juniors alike.

### Business Rules

<div class="alert alert-block alert-warning">
Include your updated business rules writeup here. Any changes from previous submission should be highlighted.
You may consider using HTML editor for easy editing e.g. <a href="https://onlinehtmleditor.dev/">https://onlinehtmleditor.dev/</a>
</div>

<!--<p><span style="font-size:16px"><span style="font-family:Arial,Helvetica,sans-serif">This&nbsp; is a test. <span style="background-color:#ffff00">The statement I have edited is this.</span></span></span></p>-->

We design a basic database system to store the research projects of NUS High School students.

A **person** is any individual with a *name* and a unique *email address*. This person <span style="background-color:#ffff00">must</span> be a **student**, a **teacher** or a **research mentor**, or any set of 2-3 such roles.

> <span style="background-color:#ffff00">Rationale behind the above condition: There are certain students who graduated to become teachers in NUS High, for instance Ms Han Shutong who used to teach in NUS High. Owing to the fact that NUS High is aging, we could expect more students to come back to teach, and with that, we have students who were also initially teachers. While it would also make sense for them to create a new teacher account under their new school email, it is also true that their student account will be active for quite a while. Another reason is that many projects are mentored by mentors who are, in fact, students themselves. Examples include projects mentored by PhD Candidates or even NUS Students (which, while uncommon, has happened before and is in the scope of the dataset I am currently assembling).</span>

The **student** must be either a **NUSH student** or an **external student**. A **NUSH student** has a *profile picture*, *NUSH student ID* (derived from the email), and *graduation year*. An **external student** must have a *phone number*.

The **teacher** must be either a **NUSH teacher** or an **external teacher**. A **NUSH teacher** has a *profile picture* and *preferred email address* (NUSH/NUS). A **NUSH teacher** can further be a **teacher mentor** or an **administrator**, or both, but they are not tied down to any of these roles. An **external teacher** has a *phone number*.

A **research mentor** is defined as a researcher with a *phone number* and an optional *orcid*. <span style="background-color:#ffff00">The *orcid* is often utilised for identification of researchers, which allows them to display their own profile. For further information, visit https://orcid.org/.</span>

A **department** is defined to store information for the teachers and the projects. There are a total of 

A **project** is any research work performed over the course of a single *year* of submission. The project is assigned a unique *project code*, is presented in a *year* and also has a non-empty *project title*, *project abstract* and *project report PDF*.

An **institution** is an educational or research location with a unique *name*, *initials* and *location*. This **institution** must either be an **external school**, a **research institution**, or both.

A **research event** is an event with a unique *event ID*, *name*, *date range* composed of a *start date* and *end date*, *format*, *organiser*, *website url* and *year* (derived from *start date*). A **research event** can be a **competiton**, **conference**, both or neither. A **conference** has a *doi* <span style="background-color:#ffff00">(Digital Object Identifier to classify papers and conferences easily. See more at http://www.doi.org/)</span>. A **competiton** has multiple *award types*.

An **accomplishment** is some milestone achieved by a submission, categorised by a unique *accomplishment ID*. An accomplishment <span style="background-color:#ffff00">must</span> either be an **award** or a **publication**. An **award** has a *name* and a *prize money*. A **publication** has a unique *doi*. <span style="background-color:#ffff00">For more details regarding *doi*, see above.</span>

A **submission** is a submission to a research event, with a unique *submission ID*, *submision date*, *submission title*, *submission abstract* and multiple *submission documents* (each of which is a PDF).

An **external school** has multiple **external teachers**, and each **external teacher** must come from one **external school**. An **external teacher** is the emergency contact of multiple **external students**, and each **external student** must have one **external teacher** as an emergency contact.

A **research mentor** may work at multiple **research institutes** under a specific *department* with a specific *role* at a specific *office location* at each **research institute**. A **research institute** may have multiple **research mentors**, each of whom hail from specific *departments* and specific *roles*.

> <span style="background-color:#ffff00">_Addressing the necessity of storing the various research institutes_: There are specific people in the industry who work in differing research institutes and they indicate as such, hence it seems more reasonable to store their multiple insitutes.</span>

A **student** can work on zero or more **projects**, each constituting a *work range*, which is composed of a *start date* and an *end date*. A **project** also has one or more **students**, who each work across a *work range* composed of a *start date* and an *end date*.

A **teacher mentor** administrates one or more **projects**. A **project** has only one **teacher mentor**.

A **research mentor** mentors one of more **projects**, each of which has an allocated *first meeting location* and *first meeting date and time*. A **project** is mentored by zero or more **research mentors**.

A _**project**_ can be optionally continued onto a _new **project**_.

A **student** can optionally submit one or more **submissions** to each **project**. A **student** can also optionally submit a **submission** for one or more **projects**. A **project** can be optionally submitted by one or more **students** for each **submission**. A **project** can have one ore more **submissions** for each **student** submitting. A **submission** must be submitted by one or more **students** for a **project**. A **submission** must submit one or more **projects** for each **student**.

A **submission** must be submitted to a **research event** and be allocated a *code* (which might not be unique). A **research event** must have zero or more **submissions**, each being allocated a *code*.

A **submission** can win zero or more **accomplishments**. An **accomplishment** must be won through a **submission**.

A **competition** grants zero or more **awards**. An **award** must be granted by a **competition**. A **conference** publishes zero or more **publications**. An **publication** must be published by a **conference**.


**Legend**:

|Markup|Item|
|---|---|
|**bold**|Entity|
|_italics_|Attribute|

### Section B: ER Model

<div class="alert alert-block alert-warning">
Screen shot your previous ER (with teacher's marking) and insert image below (double click on the markdown and insert your img name).
</div>

<img src="marked_er.png">

<div class="alert alert-block alert-warning">
Attached the image of your UPDATED ER Model here. Highlight changes made.
</div>

High Res:
<img src="new_er.png">

Highlighted
<img src="highlighted_new_er.png">

#### Major Changes

##### Making `year` a key in `ResearchEvent`
This is to make a distinction between multiple iterations of the same event (eg SSEF 2021, SSEF 2022, SSEF 2023, ISYF 2021, ISYF 2022 etc).

##### Making `organiser` a relationship between a `Institution` and `ResearchEvent` rather than an attribute
This is done to standardize information in this regard.

##### Usage of Weak Entities to denote `Submission`
Submissions are largely described by not just the code it has, but also the event it is from. For instance, my SSEF submission code in 2021, BE018 is the same as Yuan Xi's SSEF submission code in 2023. Yet these projects are completely different. Hence, it is more reasonable to make a Submission be largely defined by a Research Event (eg SSEF 2021, SSEF 2023).

##### Changing `subDocs` multi-valued entity into a Weak Entity `Document`
Each file needs information regarding filename (for download) and document, with last updated information useful for data management.

##### Introduction of `Department` Entity
Used to standardize department information between NUSH Teachers and Projects.

##### Removal of `firstMeeting*` in `MENTORS`
This information is rather redundant and has hence been removed.

##### Introduction of `Journal` and `JournalPublication`
I realise that one might submit to a Journal too.

### Section C: Relational Model

<div class="alert alert-block alert-warning">
Screen shot your previous Relational Model (with teacher's marking) and insert image below.
</div>

<img src="marked_rel.png">

<div class="alert alert-block alert-warning">
Attached the image of your UPDATED Relational Model here.  Highlight changes made.
</div>

High Res:
<img src="new_rel.png">

Highlighted
<img src="highlighted_new_rel.png">

<div class="alert alert-block alert-warning">
Justify your mapping strategy from ER to relational, particularly if the approach deviates from the norm, or you have inheritance in your ER model (i.e. which strategy is adopted for inheritance mapping and why).
</div>

For the inheritance of Person to subclasses, the method involving "Multiple relations-subclass relations only" is utilised due to the large variation in data, in addition to the fact that the intersection is limited between the 3 subclasses. Hence, this separation can still be entertained.

For the inheritance of Student, we utilise the "Multiple relations-Superclass and subclasses" strategy as we require a parent subclass relational table to refer to both types of students.

For Institution, we utilise the "Single relation with multiple type attributes" as there are not any significant attributes in each subclass. Hence, it is less of a waste of space to utilise this strategy.

For Accomplishment, we note that a majority of the Accomplishments are Awards, hence it is more useful for us to utilise the "Single relation with one type attribute" for Award, but we use the "Multiple relations-Superclass and subclass" strategy to encode Publication to conserve memory space. For Publication, we use the "Single relation with one type attribute".

<div class="alert alert-block alert-warning">
If the relational schema mapped from the ER is not in 3NF, propose relevant normalization to make all relations in 3NF. You may leave this part blank if no further normalization is required.
</div>

No further normalization is required.

### Section D: DDL Schema

<div class="alert alert-block alert-warning">
Fill in the relevant code required to create the relations for your database based on the relational model in Section C. <br>
Your code should be end to end (i.e. I should be able to execute on my computer without much problem).
Please ensure your code can be seen clearly on oneNote.
</div>

In [1]:
%load_ext sql

In [2]:
%sql mysql+mysqldb://root:admin@localhost/

In [25]:
%%sql

DROP DATABASE IF EXISTS ARXIV;
CREATE DATABASE ARXIV;
USE ARXIV;

CREATE TABLE Institution (
    instId VARCHAR(10) NOT NULL,
    name VARCHAR(100),
    address VARCHAR(150),
    isSchool BOOL,
    isInstitute BOOL,
    isOrganiser BOOL,
    isPublisher BOOL,
    primary key (instId)
);

CREATE TABLE Department (
    deptId CHAR(2) NOT NULL,
    name VARCHAR(50),
    primary key (deptId)
);

CREATE TABLE NUSHTeacher (
    email VARCHAR(254) NOT NULL,
    name VARCHAR(100),
    pfp BLOB,
    isAdmin BOOL,
    isMentor BOOL,
    deptId CHAR(2),
    primary key (email),
    foreign key (deptId) references Department(deptId) on delete set null on update cascade
);

CREATE TABLE ExternalTeacher (
    email VARCHAR(254) NOT NULL,
    name VARCHAR(100),
    schId VARCHAR(10),
    primary key (email),
    foreign key (schId) references Institution(instId) on delete set null on update cascade
);


CREATE TABLE Student (
    email VARCHAR(254) NOT NULL, # see https://stackoverflow.com/questions/386294/what-is-the-maximum-length-of-a-valid-email-address
    name VARCHAR(100),
    primary key (email)
);

CREATE TABLE NUSHStudent (
    email VARCHAR(254) NOT NULL,
    pwd VARCHAR(20),
    pfp BLOB,
    gradYear INT(4),
    nush_sid VARCHAR(8),
    primary key (email),
    foreign key (email) references Student(email) on delete cascade on update cascade
);

CREATE TABLE ExternalStudent (
    email VARCHAR(254) NOT NULL,
    emergencyEmail VARCHAR(254),
    primary key (email),
    foreign key (email) references Student(email) on delete cascade on update cascade,
    foreign key (emergencyEmail) references ExternalTeacher(email) on delete set null on update cascade
);

CREATE TABLE ResearchMentor (
    email VARCHAR(254) NOT NULL,
    name VARCHAR(100),
    primary key (email)
);

CREATE TABLE Works_At (
    mentorEmail VARCHAR(254),
    instId VARCHAR(10),
    dept VARCHAR(100),
    role VARCHAR(100),
    officeAddr VARCHAR(100),
    primary key (mentorEmail, instId),
    foreign key (mentorEmail) references ResearchMentor(email) on delete cascade on update cascade,
    foreign key (instId) references Institution(instId) on delete cascade on update cascade
);

CREATE TABLE Project (
    pcode CHAR(14) NOT NULL,
    title VARCHAR(100) NOT NULL,
    abstract VARCHAR(1000),
    reportPdf BLOB,
    year INT(4),
    deptId CHAR(2),
    teacherEmail VARCHAR(254),
    primary key (pcode),
    foreign key (deptId) references Department(deptId) on delete set null on update cascade,
    foreign key (teacherEmail) references NUSHTeacher(email) on delete set null on update cascade
);

CREATE TABLE ProjectContinuation (
    prevPcode CHAR(14) NOT NULL,
    nextPcode CHAR(14) NOT NULL,
    foreign key (prevPcode) references Project(pcode) on delete cascade on update cascade,
    foreign key (nextPcode) references Project(pcode) on delete cascade on update cascade
);

CREATE TABLE Mentors (
    mentorEmail VARCHAR(254) NOT NULL,
    pcode CHAR(14) NOT NULL,
    foreign key (pcode) references Project(pcode) on delete cascade on update cascade,
    foreign key (mentorEmail) references ResearchMentor(email) on delete cascade on update cascade
);

CREATE TABLE Works_On (
    studentEmail VARCHAR(254) NOT NULL,
    pcode CHAR(14) NOT NULL,
    foreign key (pcode) references Project(pcode) on delete cascade on update cascade,
    foreign key (studentEmail) references Student(email) on delete cascade on update cascade
);

 * mysql+mysqldb://root:***@localhost/
13 rows affected.
1 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.
0 rows affected.

[]

### Section E: Data Population Script

<div class="alert alert-block alert-warning">
Fill in relevant code to populate data into your database. Note that you should use INSERT commands.
You should populate each table with at least 5 to 10 records (as a prototype). You may continue adding more data over term break to prepare for the final project. This current submitted data set need not be final/complete, but should be sufficient to demonstrate the results in Section F.
    
Note that data should be realistic and logically related / coherent.
</div>

In [19]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\prann\anaconda3\envs\analytics\lib\site-packages (8.0.32)
Requirement already satisfied: protobuf<=3.20.3,>=3.11.0 in c:\users\prann\anaconda3\envs\analytics\lib\site-packages (from mysql-connector-python) (3.20.3)

In [26]:
import mysql.connector

db = mysql.connector.connect(
    host="localhost",
    user="root",
    password="admin",
    database="arxiv"
)

cur = db.cursor()

cur.execute("SHOW TABLES")

for x in cur:
    print(x)

('department',)
('externalstudent',)
('externalteacher',)
('institution',)
('mentors',)
('nushstudent',)
('nushteacher',)
('project',)
('projectcontinuation',)
('researchmentor',)
('student',)
('works_at',)
('works_on',)

In [27]:
sql = "INSERT INTO Institution VALUES (%s, %s, %s, %s, %s, %s, %s)"
schools = [
    ("RI", "Raffles Institution", "1 Raffles Institution Ln, Singapore 575954", True, True, False, False),
    ("HCI", "Hwa Chong Institution", "661 Bukit Timah Road, Singapore 269734", True, False, True, False),
    ('YIJC', 'Yishun Innova Junior College', "3 Yishun Ring Rd, Singapore 768675", True, False, False, False),
    ('EJC', 'Eunoia Junior College', "2 Sin Ming Pl, Singapore 573838", True, False, False, False),
    ('RGS', "Raffles Girls' School", "2 Braddell Rise, Singapore 318871", True, False, False, False),
    ('ACSI', 'Anglo-Chinese School (Independent)', "121 Dover Rd, Singapore 139650", True, False, False, False),
    ('MGS', "Methodist Girls' School", "11 Blackmore Dr, Singapore 599986", True, False, False, False),
    ('NYGH', "Nanyang Girls' High School", "2 Linden Dr, Singapore 288683", True, False, False, False),
    ('ASRJC', 'Anderson Serangoon Junior College', "4500 Ang Mo Kio Ave 6, Singapore 569843", True, False, True, False),
    ('NJC', 'National Junior College', "37 Hillcrest Rd, Singapore 288913", True, False, False, False),
    ('ACJC', 'Anglo-Chinese Junior College', "25 Dover Cl E, Singapore 139745", True, False, False, False),
    ('SAJC', "Saint Anthony's Junior College", "5 Sorby Adams Dr, Singapore 357691", True, False, False, False),
    ('VJC', 'Victoria Junior College', "20 Marine Vista, Singapore 449035", True, False, False, False),
    ('VS', 'Victoria School', "2 Siglap Link, Singapore 448880", True, False, False, False),
    ('CGSS', "Cedar Girls' School", "1 Cedar Ave, Singapore 349692", True, False, False, False),
    ('SJI', "Saint Joseph's Institution", "38 Malcolm Rd, Singapore 308274", True, False, False, False),
    ("TJC", "Temasek Junior College", "22 Bedok S Rd, Singapore 469278", True, False, False, False),
    ("DHS", "Dunman High School", "10 Tg Rhu Rd, Singapore 436895", True, False, False, False)
]

institutes = [
    ("SP", "Singapore Polytechnic", "500 Dover Rd, Singapore 139651", True, True, False, False),
    ('SCS', 'Science Centre Singapore', "15 Science Centre Rd, Singapore 609081", False, True, True, False),
    ('NUS', 'National University of Singapore', "21 Lower Kent Ridge Rd, Singapore 119077", False, True, False, True),
    ('NTU', 'Nanyang Technological University', "50 Nanyang Ave, 639798", False, True, False, False),
    ('SUTD', 'Singapore University of Technology and Design', "8 Somapah Rd, Singapore 487372", False, True, False, False),
    ('SMU', 'Singapore Management University', "81 Victoria St, Singapore 188065", False, True, False, False),
    ('SIT', 'Singapore Institute of Technology', "10 Dover Dr, Singapore 138683", False, True, False, False),
    ('DIGI', 'Digipen Institute of Technology', "510 Dover Rd, #03-01 SIT@SP, Building 139660", False, True, False, False),
    ('NIE', 'National Institute of Education', "1 Nanyang Walk, Singapore 637616", False, True, False, False),
    ('NUH', 'National University Hospital', "5 Lower Kent Ridge Rd, Singapore 119074", False, True, False, False),
    ('SGH', 'Singapore General Hospital', "31 Third Hospital Ave, Singapore 168753", False, True, False, False),
    ('ASTAR', 'Agency of Science, Technology and Research', "1 Fusionopolis Way, #20-10 Connexis, Singapore 138632", False, True, True, False),
    ('DSTA', 'Defence Science and Technology Agency', "1 Depot Rd, Singapore 109679", False, True, False, False),
    ('DSO', 'Defence Science Organisation', "12 Science Park Drive, Singapore 118225", False, True, False, False),
    ('NERI', 'NUS Environmental Research Institute', "5A Engineering Drive 1, #02-03 T-Lab Building, Singapore 117411", False, True, False, False),
    ('YLL', 'Yong Loo Lin School of Medicine', "10 Medical Dr, Singapore 117597", False, True, False, False),
    ('IMRE', 'Institute of Materials Research and Engineering', "2 Fusionopolis Way, Singapore 138634", False, True, False, False),
    ('TLL', 'Temasek Life Sciences Laboratory', "1 Research Link National University of Singapore Singapore 117604", False, True, False, False),
    ('SERI', 'Singapore Eye Research Institute', "The Academia, 20 College Rd, Level 6 Discovery Tower, Singapore 169856", False, True, False, False),
    ('BII', 'Bioinformatics Institute', "30 Biopolis St, Matrix, Singapore 138671", False, True, False, False),
    ('NSPC', 'NuSpace', "Blk 71 Ayer Rajah Crescent, #05-21, Singapore 139951", False, True, False, False),
    ('IMCB', 'Institute of Molecular and Cell Biology', "61 Biopolis Dr, Proteos, Singapore 138673", False, True, False, False),
    ('SRIS', 'Skin Research Institute of Singapore', "11 Mandalay Rd, #17-01, Singapore 308232", False, True, False, False),
    ('IHPC', 'Institute of High Performance Computing', "1 Fusionopolis Way, #16-16 Connexis, Singapore 138632", False, True, False, False),
    ("IIR", "Institute for Infocomm Research", "1 Fusionopolis Way, #21-01 Connexis, Singapore 138632", False, True, False, False)
]

organisers = [
    ("HKFYG", "Hong Kong Federation of Youth Groups", "The Hong Kong Federation Of Youth Groups Building, 21 Pak Fuk Rd, Tsat Tsz Mui, Hong Kong", False, False, True, False),
    ("IRC", "International Researchers Club", "511 Upper Jurong Rd, Singapore 638366", False, False, True, False),
    ("IPS", "Institute of Physics Singapore", "2 Science Drive 3, Singapore 117542", False, False, False, True)
]

cur.executemany(sql, schools)
cur.executemany(sql, institutes)
cur.executemany(sql, organisers)

db.commit()

print(cur.rowcount, "was inserted.")

3 was inserted.

In [29]:
sql = "INSERT INTO Department VALUES (%s, %s)"

departments = [
    ('BI', 'Biology'), 
    ('CM', 'Chemistry'), 
    ('CS', 'Computer Science'), 
    ('EL', 'English Language & Literature'), 
    ('HU', 'Humanities'), 
    ('MA', 'Mathematics & Statistics'), 
    ('PH', 'Physics & Engineering'), 
    ('RE', 'Research, Innovation and Enterprise')
]

cur.executemany(sql, departments)

db.commit()

print(cur.rowcount, "was inserted.")

8 was inserted.

In [42]:
import pandas as pd
sql = "INSERT INTO NUSHTeacher(email, name, deptId, isAdmin, isMentor) VALUES (%s, %s, %s, %s, %s)"
teachers = pd.read_csv("teachers.csv", encoding='windows-1252').values.tolist()
cur.executemany(sql, teachers)

db.commit()

print(cur.rowcount, "was inserted.")

99 was inserted.

In [47]:
sql = "INSERT INTO ExternalTeacher VALUES (%s, %s, %s)"

exteachers = [
    ('fong_shi_ning@moe.edu.sg', 'Ms Fong Shi Ning', "TJC"), 
    ('goh.terence@dhs.edu.sg', 'Mr Terence Goh', 'DHS'),
    ("LIM_Cheng_Xiang@schools.gov.sg", "Lim Cheng Xiang", "YIJC")
]

cur.executemany(sql, exteachers)

db.commit()

print(cur.rowcount, "was inserted.")

1 was inserted.

In [49]:
sql = "INSERT INTO Student(email, name) VALUES (%s, %s)"
students = pd.read_csv("students.csv").values.tolist()
cur.executemany(sql, students)

db.commit()

print(cur.rowcount, "was inserted.") # for interest of not making this notebook crash, I will not show the names.

540 was inserted.

In [53]:
sql = "INSERT INTO NUSHStudent(email, pwd, gradYear, nush_sid) VALUES (%s, %s, %s, %s)"
nush_students = pd.read_csv("nush_students.csv").values.tolist()
cur.executemany(sql, nush_students)

db.commit()

print(cur.rowcount, "was inserted.") # for interest of not making this notebook crash, I will not show the names.

536 was inserted.

In [54]:
sql = "INSERT INTO ExternalStudent VALUES (%s, %s)"

exteachers = [
    ('yau_le_qi@temasekjc.moe.edu.sg', 'fong_shi_ning@moe.edu.sg'), 
    ('ishneet_singh@temasekjc.moe.edu.sg', 'fong_shi_ning@moe.edu.sg'), 
    ("lam.yikting@dhs.edu.sg", 'goh.terence@dhs.edu.sg'),
    ("ashwin_lokesh@students.edu.sg", "LIM_Cheng_Xiang@schools.gov.sg")
]

cur.executemany(sql, exteachers)

db.commit()

print(cur.rowcount, "was inserted.")

4 was inserted.

In [56]:
sql = "INSERT INTO ResearchMentor VALUES (%s, %s)"

mentors = [
    ('arthurtay@nus.edu.sg', 'Arthur Tay'), 
    ('immanuel_koh@sutd.edu.sg', 'Immanuel Koh'), 
    ("truonghuu.tram@singaporetech.edu.sg", 'Tram Truong-Huu'),
    ("huangshaoying@sutd.edu.sg", "Huang Shaoying"),
    ("elie.hosry@singaporetech.edu.sg", "Elie Hosry")
]

cur.executemany(sql, mentors)

db.commit()

print(cur.rowcount, "was inserted.")

5 was inserted.

In [58]:
sql = "INSERT INTO Works_At VALUES (%s, %s, %s, %s, %s)"

works_at = [
    ('arthurtay@nus.edu.sg', 'NUS', "Electrical and Computer Engineering", "Adjunct Professor", "E4-08-12, 4 Engineering Drive 3, Singapore 117583"), 
    ('immanuel_koh@sutd.edu.sg', 'SUTD', "Architecture & Sustainable Design (ASD) and Design & Artificial Intelligence (DAI)", "Assistant Professor", None), 
    ("truonghuu.tram@singaporetech.edu.sg", 'SIT', None, "Assistant Professor", None),
    ("truonghuu.tram@singaporetech.edu.sg", "IIR", None, "Computer Scientist", None),
    ("huangshaoying@sutd.edu.sg", "SUTD", "Engineering Product Development", "Assistant Professor", None),
    ("elie.hosry@singaporetech.edu.sg", "DIGI", "Computer Science", "Principal Lecturer", None)
]

cur.executemany(sql, works_at)

db.commit()

print(cur.rowcount, "was inserted.")

6 was inserted.

In [ ]:
%%sql
INSERT INTO Institution VALUES

<div class="alert alert-block alert-warning">
Add in relevant select statements to show that your data is populated correctly FOR EACH relation, one cell each relation.
</div>

In [ ]:
%%sql

### Section F: Queries Script

<div class="alert alert-block alert-warning">
<b>SQL Query:</b> <br>
    
* Pose 3 interesting questions (asked by end user/administrator of your domain) and write SELECT queries to answer them. State the question that is being asked for each query, and also a short explanation of why the question is relevant to the domain. If relevant, you may wish to implement the query as a view or stored procedure.
 
* Write the full SELECT statement that answers the query. 
 
* Each query must be sufficiently complex (join of a few tables, use of aggregate functions, nested queries etc). Ideally, these queries should be implemented in your final web interface.
 
* Finally, show a copy of the result set produced by each query. 

* Please ensure your code can be seen clearly from oneNote.
</div>

#### Query 1

Describe the query here in words

In [ ]:
%%sql

#### Query 2

Describe the query here in words

In [ ]:
%%sql

#### Query 3

Describe the query here in words

In [ ]:
%%sql

<div class="alert alert-block alert-warning">
<b>Triggers and Events:</b> <br>
Shortlist relevant triggers or scheduled events that are useful for your database system. 
Describe what the trigger/event is for and why it is useful for your DB.
</div>

#### Trigger/Event

Describe the trigger/event here in words

In [ ]:
%%sql

<hr>
© NUS High School of Math & Science